<div class="change-password-container">

  <div class="password-card">

    <h2>
      Change Password </h2>

      <p class="subtitle" > Update your password securely </p>
      <form #changeForm="ngForm" (ngSubmit)="changePassword(changeForm)">


        <div class="input-group mb-3">

          <input [type]="showCurrent ? 'text' : 'password'"
                 class="form-control"
                 placeholder="Current Password"
                 name="currentPassword"
                 [(ngModel)]="currentPassword"
                 required>

          <span class="eye-icon" (click)="showCurrent = !showCurrent">

            <i class="fa"
               [ngClass]="showCurrent ? 'fa-eye-slash' : 'fa-eye'">

            </i>

          </span>

        </div>


        <div class="input-group mb-3">

          <input [type]="showNew ? 'text' : 'password'"
                 class="form-control"
                 placeholder="New Password"
                 name="newPassword"
                 [(ngModel)]="newPassword"
                 (keyup)="checkPassword()"
                 required>

          <span class="eye-icon" (click)="showNew = !showNew">

            <i class="fa"
               [ngClass]="showNew ? 'fa-eye-slash' : 'fa-eye'">

            </i>

          </span>

        </div>


        <div class="password-rules">

          <small class="d-block"
                 [ngClass]="rules.length ? 'text-success':'text-danger'">

            {{ rules.length ? '✓' : '•' }} Minimum 8 characters

          </small>

          <small class="d-block" [ngClass]="rules.upper ? 'text-success':'text-danger'">

            {{ rules.upper ? '✓' : '•' }} One uppercase letter

          </small>

          <small class="d-block" [ngClass]="rules.lower ? 'text-success':'text-danger'">

            {{ rules.lower ? '✓' : '•' }} One lowercase letter

          </small>

          <small class="d-block" [ngClass]="rules.number ? 'text-success':'text-danger'">

            {{ rules.number ? '✓' : '•' }} One number
          </small>

          <small class="d-block" [ngClass]="rules.special ? 'text-success':'text-danger'">

            {{ rules.special ? '✓' : '•' }} One special character

          </small>

        </div>

        <div class="input-group mt-3">

          <input [type]="showConfirm ? 'text' : 'password'"
                 class="form-control"
                 placeholder="Confirm Password"
                 name="confirmPassword"
                 [(ngModel)]="confirmPassword"
                 required>

          <span class="eye-icon" (click)="showConfirm = !showConfirm">

            <i class="fa"
               [ngClass]="showConfirm ? 'fa-eye-slash' : 'fa-eye'">

            </i>

          </span>

        </div>

        <div class="button-group">

          <button type="submit" class="save-btn"> Update Password </button>

          <button type="button" (click)="changeForm.reset()" class="reset-btn">
            Reset
          </button>

          <!--<button type="button" class="cancel-btn" (click)="goBackToProfile()">
            Cancel

          </button>-->

        </div>


        <div class="button-group">
          <!--<button type="submit">Update</button>-->
          <!--<button type="button" (click)="changeForm.reset()" class="reset-btn">
    Reset
  </button>-->

          <button type="button" class="cancel-btn" (click)="goBackToProfile()">
            Cancel

          </button>
        </div>

      </form>

          </div>

    </div>
