<div class="users-page">

  <!-- HEADER -→-->

    <div class="top-section">

      <h2>

        <i class="fa fa-users"></i>

        Users Management

      </h2>

      <div class="user-count-card">

        <p>Total Users</p>

        <h1>{{ totalUsers }}</h1>

      </div>

    </div>

    <!-- TABLE -→-->

    <div class="table-card">

      <table>

        <thead>

          <tr>

            <th>#</th>

            <th>Name</th>

            <th>Email</th>

            <th>Last Active</th>

            <th>Status</th>

            <th>Streak</th>

          </tr>

        </thead>

        <tbody>

          <tr *ngFor="let user of users; let i = index">

            <td>{{ i + 1 }}</td>

            <td class="name">{{ user.userName }}</td>

            <td>{{ user.emailId }}</td>

            <td>

              {{ user.lastActiveDate | date:'mediumDate' }}

            </td>

            <td>

              <span

                class="badge"

                [ngClass]="user.status === 'Active' ? 'active' : 'inactive'">

                {{ user.status }}

              </span>

            </td>

            <!-- STREAK -→-->

            <td class="streak">

              🔥 {{ user.currentStreak }}

            </td>

          </tr>

        </tbody>

      </table>

    </div>

  </div>
