

.chart-wrapper {
  width: 85%;

  height: 480px; 

  margin: 20px auto;

  background: #1e293b;
  padding: 15px;
  border-radius: 12px;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}
